<IfModule mod_rewrite.c>
  RewriteEngine On RewriteBase /outsidetask/ RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /outsidetask/index.html [L]
</IfModule>
